{% extends 'url/base.html' %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
	<h2> Short Link: <a href="{{ object.short_url }}">{{ site_url }}{{ object.short_url }}</a></h2>
	<h3> Original Link: <a href="{{ object.url }}">{{ object.url }}</a></h3>
	<div class="back-button">
		<h1><a href="{% url 'home' %}">Back</a></h1>
	</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
